@model SmallDad.Models.Rank

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="card" style="width: 18rem;">
                <img src="@Model.CoverImgPath" class="card-img-top" alt="@Model.Title">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">Num votes: @Model.NumVotes</p>
                    <p class="card-text">Rating: @Model.Rating</p>
                    <p class="card-text">Current status: @Model.Verbal</p>
                    <a asp-route-vote="1" class="btn btn-primary">+</a>
                    <a asp-route-vote="-1" class="btn btn-primary">-</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            @if (Model.Comments.Count == 0)
            {
                <h3>No one commented on this yet.</h3>
            }

            @await Html.PartialAsync("~/Views/Comment/_Index.cshtml", new SmallDad.ViewModels.Comment.CreateCommentViewModel() { Id = Model.Id })

            @foreach (var comment in Model.Comments)
            {
                <p>@comment.Content <a href="/Profile/@comment.Author.UserName">@comment.Author.UserName</a></p>
            }
        </div>
    </div>
</div>
