@model SmallDad.Models.Rank

<div class="card" style="width: 18rem;">
    <img src="https://d2pa5gi5n2e1an.cloudfront.net/global/images/product/mobilephones/HUAWEI_P30_Pro/HUAWEI_P30_Pro_L_1.jpg" class="card-img-top" alt="@Model.Title">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">Number of votes: @Model.Rating</p>
        <p class="card-text">Current status: @Model.Verbal</p>
        <a asp-route-vote="1" class="btn btn-primary">+</a>
        <a asp-route-vote="-1" class="btn btn-primary">-</a>
    </div>
</div>