@model SmallDad.ViewModels.Profile.ProfileViewModel

<img src="@Model.ProfilePhotoThumbPath" alt="Profile Photo" />
<p>@Model.FirstName @Model.LastName</p>
<p>@Model.UserName</p>
<p>@Model.Biography</p>